Faster-whisper
torch==1.7.1
torchvision==0.8.2
torchaudio==0.7.2
pyaudio
wave
#download pytorch and cuda version from https://pytorch.org/get-started/locally/ depending on the gpu you use and look in the website
#download CDnn for the cuda version you have from https://developer.nvidia.com/rdp/cudnn-download
#download Small.en and largev3.en